<div class="page-layout blank p-24" megaPerfectScrollbar>
  <mat-toolbar>Lista de Productos</mat-toolbar>
  <div fxLayout="row" fxLayout.xs="column">
    <mat-form-field fxFlex="40%" appearance="outline">
      <mat-label>Buscar Producto</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Producto">
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="codProducto">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="13%" fxFlex.xs="100%"> COD PROD </mat-header-cell>
        <mat-cell fxFlex="13%" fxFlex.xs="100%" *matCellDef="let element"> {{element.codProducto}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="30%" fxFlex.xs="100%"> PRODUCTO </mat-header-cell>
        <mat-cell fxFlex="30%" fxFlex.xs="100%" *matCellDef="let element"> {{element.nombre}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="marcaProducto">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="14%" fxFlex.xs="100%"> MARCA </mat-header-cell>
        <mat-cell fxFlex="14%" fxFlex.xs="100%" *matCellDef="let element"> {{element.marcaProducto}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="stock">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="6%" fxFlex.xs="100%"> STOCK </mat-header-cell>
        <mat-cell fxFlex="6%" fxFlex.xs="100%" *matCellDef="let element"> {{element.stock}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="precioCompra">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%" fxFlex.xs="100%"> PREC. COMPRA </mat-header-cell>
        <mat-cell fxFlex="10%" fxFlex.xs="100%" *matCellDef="let element"> {{element.precioCompra | number : '1.2-2'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="precioVenta">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%" fxFlex.xs="100%"> PREC. VENTA </mat-header-cell>
        <mat-cell fxFlex="10%" fxFlex.xs="100%" *matCellDef="let element"> {{element.precioVenta | number : '1.2-2'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="unidadMedida.codUnidadmedida">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="9%" fxFlex.xs="100%"> UNIDAD M. </mat-header-cell>
        <mat-cell fxFlex="9%" fxFlex.xs="100%" *matCellDef="let element"> {{element.unidadMedida.codUnidadmedida}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="categoria.descripcion">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%" fxFlex.xs="100%"> CATEGORIA </mat-header-cell>
        <mat-cell fxFlex="10%" fxFlex.xs="100%" *matCellDef="let element"> {{element.categoria.descripcion}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tipoProducto.descripcion">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%" fxFlex.xs="100%"> TIPO PRODUCTO </mat-header-cell>
        <mat-cell fxFlex="10%" fxFlex.xs="100%" *matCellDef="let element"> {{element.tipoProducto.descripcion}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="organizacion.nombreComercial">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%" fxFlex.xs="100%"> ORGANIZACION </mat-header-cell>
        <mat-cell fxFlex="10%" fxFlex.xs="100%" *matCellDef="let element"> {{element.organizacion.nombreComercial}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef fxFlex="10%" fxFlex.xs="100%">ACCIONES</mat-header-cell>
        <mat-cell fxFlex="10%" fxFlex.xs="100%"*matCellDef="let row">
          <button mat-icon-button matTooltip="Editar" color="primary" [routerLink]="['edicion', row.idProducto]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Eliminar" color="accent" (click)="eliminar(row.idProducto)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  <button mat-fab color="accent" style="float:right" routerLink='./nuevo'>
    <mat-icon>add</mat-icon>
  </button>
</div>