<div class="page-layout blank p-24" megaPerfectScrollbar>
  <mat-toolbar>Lista de Venta por Usuario</mat-toolbar>
  <form [formGroup]="form" (ngSubmit)="buscar()">
    <div fxLayout="row" fxLayout.xs="column">
        <mat-form-field fxFlex="50%" appearance="outline">
            <mat-label>Nombre Completo</mat-label>
            <input matInput placeholder="Nombre Completo" required formControlName="nombreCompletoPersonal">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
          <div fxFlex="1%" fxFlex.xs="50%"></div>
        <mat-form-field fxFlex="25%;" fxFlex.xs="50%" appearance="outline">
          <mat-label>Escoge una fecha</mat-label>
          <input matInput [matDatepicker]="picker" [max]="maxFecha" placeholder="Escoge una fecha" formControlName="fechaConsulta">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      <div fxFlex="1%" fxFlex.xs="50%"></div>
      <div fxFlex="15%;" fxFlex.xs="50%">
        <button  mat-fab matTooltip="Escoja la fecha que desea consultar" color="accent" type="submit">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20%" fxFlex.xs="100%"> FECHA </mat-header-cell>
            <mat-cell fxFlex="20%" fxFlex.xs="100%" *matCellDef="let element"> {{element.fecha | date:'dd/MM/yyyy h:mma'}} </mat-cell>
            <mat-footer-cell *matFooterCellDef fxFlex="20%" fxFlex.xs="100%"></mat-footer-cell>
        </ng-container>

          <ng-container matColumnDef="tipocomprobante.descripcion">
              <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="30%" fxFlex.xs="100%"> TIPO COMPROBANTE </mat-header-cell>
              <mat-cell fxFlex="30%" fxFlex.xs="100%" *matCellDef="let element"> {{element.tipocomprobante.descripcion}} </mat-cell>
              <mat-footer-cell *matFooterCellDef fxFlex="30%"></mat-footer-cell>
            </ng-container>

          <ng-container matColumnDef="numeroComprobante">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="12.5%" fxFlex.xs="100%"> N° COMPROBANTE </mat-header-cell>
            <mat-cell fxFlex="12.5%" fxFlex.xs="100%" *matCellDef="let element"> {{element.numeroComprobante}} </mat-cell>
            <mat-footer-cell *matFooterCellDef fxFlex="12.5%"></mat-footer-cell>
          </ng-container>

        <ng-container matColumnDef="subTotal">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="12.5%" fxFlex.xs="100%"> SUB TOTAL </mat-header-cell>
          <mat-cell fxFlex="12.5%" fxFlex.xs="100%" *matCellDef="let element"> {{element.subTotal | number : '1.2-2'}} </mat-cell>
          <mat-footer-cell *matFooterCellDef fxFlex="12.5%"></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="igv">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="12%" fxFlex.xs="100%"> IGV </mat-header-cell>
          <mat-cell fxFlex="12%" fxFlex.xs="100%" *matCellDef="let element"> {{element.igv | number : '1.2-2'}} </mat-cell>
          <mat-footer-cell *matFooterCellDef fxFlex="12%">TOTAL</mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="montoTotal">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="13%" fxFlex.xs="100%"> MONTO TOTAL </mat-header-cell>
          <mat-cell fxFlex="13%" fxFlex.xs="100%" *matCellDef="let element"> {{element.montoTotal | number : '1.2-2'}} </mat-cell>
          <mat-footer-cell *matFooterCellDef fxFlex="13%">{{total | number : '1.2-2'}}</mat-footer-cell>
        </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
      </mat-table>
  </div>
</div>