<div class="page-layout blank p-24" megaPerfectScrollbar>
  <mat-toolbar>Ingrese los datos del Sucursal de la Empresa</mat-toolbar>
  <br />
  <form class="container" [formGroup]="form" (ngSubmit)="operar()" #f="ngForm">
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="40%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Empresa Central del Sucursal</mat-label>
          <mat-select placeholder="Organizacion" formControlName="organizacion" [compareWith]="compareOrganizacion">
            <mat-option *ngFor="let Organizacion of lstorganizacions" [value]="Organizacion"  >
              {{Organizacion.razonSocial}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="20%" fxFlex.xs="100%">
        <!-- <mat-form-field class="field-container" appearance="outline">
          <mat-label>Numero de RUC</mat-label>
          <input matInput #message placeholder="Numero de RUC" required formControlName="ruc" minLength="11" maxlength="11" >
          <mat-hint align="start"><mat-label style="color: forestgreen;">Min 11-Max 11 caracteres</mat-label> </mat-hint>
          <mat-hint align="end"><mat-label style="color: forestgreen;">{{message.value.length}} / 11</mat-label></mat-hint>
        </mat-form-field> -->
        
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Numero de RUC</mat-label>
          <input matInput #message placeholder="Numero RUC" required formControlName="ruc" minLength="11" maxlength="11" >
          <mat-icon mat-icon-button matTooltip="CONSULTA SUNAT(RUC) - RENIEC(DNI)" matSuffix color="warn" (click)="getConsulta()">search</mat-icon>
          <mat-hint align="start"><mat-label style="color: forestgreen;">Min 11 - Max 11 caracteres</mat-label> </mat-hint>
          <mat-hint align="end"><mat-label style="color: forestgreen;">{{message.value.length}} / 11</mat-label></mat-hint>
        </mat-form-field>
      </div>
      <div fxFlex="40%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Razon Social</mat-label>
          <input matInput placeholder="Razon Social" required formControlName="emprRazonsocial">
        </mat-form-field>
      </div>
      <div fxFlex="40%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Nombre Comercial</mat-label>
          <input matInput placeholder="Nombre" required formControlName="nombre">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="40%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Direccion</mat-label>
          <input matInput placeholder="Direccion" required formControlName="direccion">
        </mat-form-field> 
      </div>
      <div fxFlex="20%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Telefono</mat-label>
          <input matInput placeholder="telefono" required formControlName="telefono">
        </mat-form-field>
      </div>
      <div fxFlex="20%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Celular</mat-label>
          <input matInput placeholder="Celular" required formControlName="teleMovil">
        </mat-form-field>
      </div>
      <div fxFlex="10%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Ubigeo</mat-label>
          <input matInput placeholder="Ubigeo" required formControlName="emprUbigeo">
        </mat-form-field>
      </div>
      <div fxFlex="10%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Código Establecimiento</mat-label>
          <input matInput placeholder="emprLocal" required formControlName="emprLocal">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="20%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Departamento</mat-label>
          <input matInput placeholder="Departamento" required formControlName="emprDepartamento">
        </mat-form-field>
      </div>
      <div fxFlex="20%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Provincia</mat-label>
          <input matInput placeholder="Provincia" required formControlName="emprProvincia">
        </mat-form-field>
      </div>
      <div fxFlex="20%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Distrito</mat-label>
          <input matInput placeholder="Distrito" required formControlName="emprDistrito">
        </mat-form-field>
      </div>
      <div fxFlex="40%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Ruta de Seguridad</mat-label>
          <input matInput placeholder="Ruta de Seguridad" formControlName="rutaSeguridad">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="20%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>RutaTokenCrea</mat-label>
          <input matInput placeholder="RutaTokenCrea" formControlName="rutaTokenCrea">
        </mat-form-field>
      </div>
      <div fxFlex="20%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>RutaTokenCierra</mat-label>
          <input matInput placeholder="RutaTokenCierra" formControlName="rutaTokenCierra">
        </mat-form-field>
      </div>
      <div fxFlex="20%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>RutaTokenFuerza</mat-label>
          <input matInput placeholder="RutaTokenFuerza" formControlName="rutaTokenFuerza">
        </mat-form-field>
      </div>
      <div fxFlex="40%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>RutaFact</mat-label>
          <input matInput placeholder="RutaFact" formControlName="rutaFact">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="50%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>UsuarioToken</mat-label>
          <input matInput placeholder="UsuarioToken" formControlName="usuarioToken">
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>ClaveToken</mat-label>
          <input matInput placeholder="ClaveToken" formControlName="claveToken">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="40%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Slogan de Entidad</mat-label>
          <textarea matInput placeholder="Slogan de Entidad" required formControlName="sloganEntidad"></textarea>
        </mat-form-field> 
      </div>
      <div fxFlex="60%" fxFlex.xs="100%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Mensaje de Autorizacion SUNAT</mat-label>
          <textarea matInput placeholder="Mensaje de Autorizacion SUNAT" required formControlName="mensajeAutorizacionTicket"></textarea>
        </mat-form-field> 
      </div>
    </div>
    
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="15%" fxFlex.xs="100%" class="field-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">
          <mat-icon>done</mat-icon>
          <span>Aceptar</span>
        </button>
      </div>
      <div fxFlex="1%;" fxFlex.xs="5%"></div>
      <div fxFlex="15%" fxFlex.xs="100%" class="field-container">
        <button mat-raised-button color="accent" (click)="cancel()" type="button">
          <mat-icon>close</mat-icon>
          <span>Cancelar</span>
        </button>
      </div>
    </div>
  </form>
  <br />
</div>