<div class="page-layout blank p-24" megaPerfectScrollbar>
  <mat-toolbar>LISTA DE CLIENTES</mat-toolbar>
  <div fxLayout="row" fxLayout.xs="column">
    <mat-form-field fxFlex="40%" appearance="outline">
      <mat-label>Buscar Cliente</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Cliente">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="persona.nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="30%" fxFlex.xs="100%"> NOMBRE CLIENTE </mat-header-cell>
        <mat-cell fxFlex="30%" fxFlex.xs="100%" *matCellDef="let element"> {{element.persona.nombre}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="persona.numeroDocumento">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15%" fxFlex.xs="100%"> RUC/DNIl </mat-header-cell>
        <mat-cell fxFlex="15%" fxFlex.xs="100%" *matCellDef="let element"> {{element.persona.numeroDocumento}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="persona.direccion">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="40%" fxFlex.xs="100%"> DIRRECCION </mat-header-cell>
        <mat-cell fxFlex="40%" fxFlex.xs="100%" *matCellDef="let element"> {{element.persona.direccion}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef fxFlex="15%" fxFlex.xs="100%">ACCIONES</mat-header-cell>
        <mat-cell fxFlex="15%" fxFlex.xs="100%" *matCellDef="let row">
          <button mat-icon-button matTooltip="Editar" color="primary" [routerLink]="['./edicion', row.idCliente]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Eliminar" color="warn" (click)="eliminar(row.idCliente)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

  <button mat-fab color="accent" style="float:right" routerLink='./nuevo'>
    <mat-icon>add</mat-icon>
  </button>
</div>