<div class="page-layout blank p-24" megaPerfectScrollbar>
  <mat-toolbar>Lista de Productos Comprador por Mes</mat-toolbar>
  <form [formGroup]="form" (ngSubmit)="buscar()">
    <div fxLayout="row" fxLayout.xs="column">
      <mat-form-field fxFlex="20%;" fxFlex.xs="50%" appearance="outline">
        <mat-label>Escoge fecha inicio</mat-label>
        <input matInput [matDatepicker]="picker" [max]="maxFecha" placeholder="Escoge la fecha inicial" formControlName="fechaConsulta">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div fxFlex="1%" fxFlex.xs="50%"></div>
      <mat-form-field fxFlex="20%;" fxFlex.xs="50%" appearance="outline">
        <mat-label>Escoge fecha final</mat-label>
        <input matInput [matDatepicker]="picker2" placeholder="Escoge la fecha final" formControlName="fechaSgte">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <div fxFlex="1%" fxFlex.xs="50%"></div>
      <div fxFlex="20%;" fxFlex.xs="50%">
        <button  mat-fab matTooltip="Escoje de que fecha a que fecha desea consultar" color="accent" type="submit">
          <mat-icon>search</mat-icon>
        </button>
        <div fxFlex="5%" fxFlex.xs="50%"></div>
        <button mat-fab matTooltip="Imprimir lista de Productos Comprados" color="warn"  type="button" (click)="print()">
          <mat-icon>print</mat-icon>
        </button>
      </div>
    </div>
  </form>
  <label>Lista de Productos Comprados</label>
  <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="stockAnterior">
              <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="8%" fxFlex.xs="100%"> STOCK ANTERIOR </mat-header-cell>
              <mat-cell fxFlex="8%" fxFlex.xs="100%" *matCellDef="let element"> {{element.stockAnterior}} </mat-cell>
              <mat-footer-cell *matFooterCellDef fxFlex="8%"></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="cantidadItem">
              <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="7%" fxFlex.xs="100%"> CANT. </mat-header-cell>
              <mat-cell fxFlex="7%" fxFlex.xs="100%" *matCellDef="let element"> {{element.cantidadItem}} </mat-cell>
              <mat-footer-cell *matFooterCellDef fxFlex="7%"></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="stockActual">
              <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="8%" fxFlex.xs="100%"> STOCK ACTUAL </mat-header-cell>
              <mat-cell fxFlex="8%" fxFlex.xs="100%" *matCellDef="let element"> {{element.stockActual}} </mat-cell>
              <mat-footer-cell *matFooterCellDef fxFlex="8%"></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="codigoProducto">
              <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%" fxFlex.xs="100%"> CODIGO </mat-header-cell>
              <mat-cell fxFlex="10%" fxFlex.xs="100%" *matCellDef="let element"> {{element.codigoProducto}} </mat-cell>
              <mat-footer-cell *matFooterCellDef fxFlex="10%"></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="descripcionProducto">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="40%" fxFlex.xs="100%"> DESCRIPCION DE PRODUCTO/SERVICIO </mat-header-cell>
            <mat-cell fxFlex="40%" fxFlex.xs="100%" *matCellDef="let element"> {{element.descripcionProducto}} </mat-cell>
            <mat-footer-cell *matFooterCellDef fxFlex="40%"></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="marcaProducto">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%" fxFlex.xs="100%"> MARCA </mat-header-cell>
            <mat-cell fxFlex="10%" fxFlex.xs="100%" *matCellDef="let element"> {{element.marcaProducto}} </mat-cell>
            <mat-footer-cell *matFooterCellDef fxFlex="10%"></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="colorProducto">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%" fxFlex.xs="100%"> COLOR </mat-header-cell>
            <mat-cell fxFlex="10%" fxFlex.xs="100%" *matCellDef="let element"> {{element.colorProducto}} </mat-cell>
            <mat-footer-cell *matFooterCellDef fxFlex="3%"></mat-footer-cell>
        </ng-container>

          <ng-container matColumnDef="precioItem">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="8%" fxFlex.xs="100%"> P. COMPRA </mat-header-cell>
            <mat-cell fxFlex="8%" fxFlex.xs="100%" *matCellDef="let element"> {{element.precioItem | number : '1.2-2'}} </mat-cell>
            <mat-footer-cell *matFooterCellDef fxFlex="15%">IMPORTE TOTAL S/.</mat-footer-cell>
          </ng-container>

        <ng-container matColumnDef="importeTotalItem">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="9%" fxFlex.xs="100%"> IMPORTE </mat-header-cell>
          <mat-cell fxFlex="9%" fxFlex.xs="100%" *matCellDef="let element"> {{element.importeTotalItem | number : '1.2-2'}} </mat-cell>
          <mat-footer-cell *matFooterCellDef fxFlex="9%">{{total | number : '1.2-2'}}</mat-footer-cell>
        </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
      </mat-table>
  </div>
</div>
