<div fxLayout="row" fxLayoutAlign="center">
    <mat-card class="example-card" fxFlex="400px">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="container" #loginForm="ngForm">
            <mat-form-field class="field-container" appearance="outline">
              <mat-label>Usuario</mat-label>
              <input matInput placeholder="Username" [(ngModel)]="usuario" name="usuario" required>
            </mat-form-field>
      
            <mat-form-field class="field-container" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" [(ngModel)]="clave" name="clave" required [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            
            <mat-card *ngIf="mensaje">{{mensaje}}</mat-card>
            <mat-card *ngIf="error">{{error}}</mat-card>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button id="login" color="accent" (click)="iniciarSesion()" type="button">
            <mat-icon>vpn_key</mat-icon>
            <span>Iniciar Sesión</span>
          </button>
        </mat-card-actions>
      </mat-card>
</div>