<div class="page-layout blank p-24" megaPerfectScrollbar>
  <mat-toolbar>Lista De Ventas</mat-toolbar>
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="50%;" fxFlex.xs="50%">
      <mat-form-field class="field-container" appearance="outline">
        <mat-label>Buscar Ventas</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Ventas"/>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="cliente.nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="27%">CLIENTE</mat-header-cell>
        <mat-cell fxFlex="27%" *matCellDef="let element">{{ element.cliente.persona.nombre }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="13%">FECHA DE VENTA</mat-header-cell>
        <mat-cell fxFlex="13%" *matCellDef="let element">{{ element.fecha | date: "dd/MM/yyyy" }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="montoTotal">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%">MONTO TOTAL</mat-header-cell>
        <mat-cell fxFlex="10%" *matCellDef="let element">{{ element.montoTotal | number: "1.2-2" }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="18%">TIPO DE COMPROBANTE</mat-header-cell>
        <mat-cell fxFlex="18%" *matCellDef="let element">{{ element.tipocomprobante.descripcion }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="numeroComprobante">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="14%">NUMERO COMPROBANTE</mat-header-cell>
        <mat-cell fxFlex="14%" *matCellDef="let element">{{ element.tipocomprobante.codTipocomprobante }}-{{element.serieComprobante}}-{{ element.numeroComprobante }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef fxFlex="18%">ACCIONES</mat-header-cell>
        <mat-cell fxFlex="18%" *matCellDef="let row">
          <button mat-icon-button matTooltip="Editar" color="primary" [routerLink]="['./edicion', row.idVenta]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Eliminar" color="accent" style="float:right" (click)="eliminar(row.idVenta)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Ver Detalle" color="primary" (click)="openDialog(row)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button matTooltip="PDF" color="accent" style="float:right" (click)="print(row.idVenta)">
            <mat-icon>local_printshop</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  <button mat-fab color="accent" style="float:right" routerLink="./nuevo">
    <mat-icon>create</mat-icon>
  </button>
</div>
