<div class="page-layout blank p-24" megaPerfectScrollbar>
  <mat-toolbar>Registrar Compra</mat-toolbar>
  <br />
  <form class="container" [formGroup]="form" #f="ngForm">
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="60%;" fxFlex.xs="50%">
        <mat-form-field class="field-container">
          <input type="text" placeholder="Proveedor- Compra" aria-label="nombreComercial" matInput [formControl]="myControlProveedor"
            required formControlName="proveedor" [matAutocomplete]="autoProveedor">
          <mat-autocomplete #autoProveedor="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let pro of filteredOptions | async" [value]="pro">
              {{pro.nombreComercial}} {{pro.razonSocial}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matSuffix>perm_identityt</mat-icon>
        </mat-form-field>
      </div>
      <div fxFlex="40%;" fxFlex.xs="50%">
        <mat-form-field class="field-container">
          <mat-select placeholder="Sucursal" required formControlName="sucursal" >
            <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal">
              {{sucursal.nombre}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>store</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="30%;" fxFlex.xs="50%">
        <mat-form-field class="field-container">
          <mat-select placeholder="Tipo comprobante " required formControlName="tipocomprobante">
            <mat-option *ngFor="let TipoCom of tipocomprobantes" [value]="TipoCom">
              {{TipoCom.descripcion}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>arrow_downward</mat-icon>
        </mat-form-field>
      </div>
      <div fxFlex="30%;" fxFlex.xs="50%">
        <mat-form-field class="of-full-width i-space">
          <input matInput formControlName="fecha" [matDatepicker]="picker" [max]="maxDate" placeholder="Fecha Compra"
            required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #picker></mat-datepicker>
        </mat-form-field>

      </div>
      <div fxFlex="20%;" fxFlex.xs="50%">
        <mat-form-field class="field-container">
          <input matInput placeholder="Guia de Remision" required formControlName="guiaRemision" maxlength="20"  >
         
          <mat-icon matSuffix>list_alt</mat-icon>
        </mat-form-field> 
      </div>
      <div fxFlex="20%;" fxFlex.xs="50%">
        <mat-form-field class="field-container">
          <input matInput placeholder="Numero Comprobante" required formControlName="numeroComprobante" maxlength="20">
          <mat-icon matSuffix>create</mat-icon>
        </mat-form-field>
      </div>
    </div>
    
    <br>
    <mat-card formArrayName="detalleCompra">
      <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="50%;" fxFlex.xs="50%">
          <mat-form-field>
            <input type="text" matInput (keyup)="buscarProducto($event)" placeholder="Buscar Producto por Codigo" >
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.xs="grow" fxLayoutAlign="end">
          <mat-card-actions>
            <button matPrefix mat-raised-button color="warn" type="button" (click)="AgregarProducto()">
              <mat-icon>add</mat-icon>
              Agregar Producto
            </button>
          </mat-card-actions>
        </div>
      </div>

       
      </mat-card>
    </div>

    <div>
      <mat-toolbar class="mat-table-toolbar">
        <button matPrefix mat-raised-button color="warn" type="button" (click)="AgregarProducto()">
          <mat-icon>add</mat-icon>
          Agregar Producto
        </button>
      </mat-toolbar>
      <mat-table [dataSource]="dataSource" matSort formArrayName="detalleCompra">

        <ng-container matColumnDef="producto.codProducto">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.producto.codProducto}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef fxFlex="30%"> PRODUCTO / SERVICIO </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="marcaProducto">
          <mat-header-cell *matHeaderCellDef fxFlex="20%"> MARCA </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="cantidaditem">
          <mat-header-cell *matHeaderCellDef fxFlex="10%">CANTIDAD</mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="precioItem">
          <mat-header-cell *matHeaderCellDef fxFlex="13%">PRECIO DE COMPRA </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="importeTotalItem">
          <mat-header-cell *matHeaderCellDef fxFlex="9%"> SUB TOTAL </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef fxFlex="6%">ACCION</mat-header-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>

      <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="80%;" fxFlex.xs="50%"></div>
        <div fxFlex="8%;" fxFlex.xs="50%"> NETO</div>
        <div fxFlex="4%;" fxFlex.xs="50%">:</div>
        <div fxFlex="8%;" fxFlex.xs="50%">$&nbsp;{{form.get('neto').value | number : '1.2-2'}}</div>

      </div>
      <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="80%;" fxFlex.xs="50%"></div>
        <div fxFlex="20%;" fxFlex.xs="50%">
          <mat-divider></mat-divider>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="end">
        <div fxFlex="0.5%" fxFlex.xs="grow" fxLayoutAlign="end">NETO:</div>
        <div fxFlex="5%" fxFlex.xs="grow" fxLayoutAlign="end">{{form.get('neto').value | number : '1.2-2'}}</div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="end">
        <div fxFlex="0.5%" fxFlex.xs="grow" fxLayoutAlign="end">IGV:</div>
        <div fxFlex="5%" fxFlex.xs="grow" fxLayoutAlign="end">{{form.get('igv').value | number : '1.2-2'}}</div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="end">
        <div fxFlex="0.5%" fxFlex.xs="grow" fxLayoutAlign="end">TOTAL:</div>
        <div fxFlex="5%" fxFlex.xs="grow" fxLayoutAlign="end">{{form.get('montoTotal').value | number : '1.2-2'}}</div>
      </div>
      <mat-divider></mat-divider>
      <!-- <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="end"> -->
      <mat-card-actions>
        <button mat-raised-button color="primary" type="button" (click)="save()" [disabled]="!form.valid">
          <mat-icon>done</mat-icon>
          <span>Aceptar</span>
        </button>
        <button mat-raised-button color="accent" (click)="cancel()" type="button">
          <mat-icon>close</mat-icon>
          <span>Cancelar</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  <br />
</div>