<div class="page-layout blank p-24" megaPerfectScrollbar>
  <mat-toolbar>Ingrese los datos del Producto</mat-toolbar>

  <form class="example-form" [formGroup]="form" (ngSubmit)="operar()" #f="ngForm">
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="12%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Precio por Paquete</mat-label>
          <input #init autocomplete="off" matInput type="number" placeholder="Cod Producto" formControlName="precioCompraPaquete">
        </mat-form-field>
      </div>
      <div fxFlex="12%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Cantidad x Paquete</mat-label>
          <input #init autocomplete="off" matInput type="number" placeholder="Cod Producto" formControlName="cantidadPaquete">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="25%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Cod Producto</mat-label>
          <input matInput placeholder="Cod Producto" required formControlName="codProducto" #firstname>
        </mat-form-field>
      </div>
      <div fxFlex="50%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Descripcion del Producto</mat-label>
          <input matInput placeholder="Nombre Producto" required formControlName="nombre">
        </mat-form-field>
      </div>
      <div fxFlex="25%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
            <mat-label>Marca Producto</mat-label>
          <input matInput placeholder="Marca Producto" required formControlName="marcaProducto">
        </mat-form-field>
      </div>
    </div>
    <!-- opcional -->
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="25%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <input matInput formControlName="fechaVencimiento" [matDatepicker]="picker" placeholder="Fecha Ingreso">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker  #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="25%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Stock</mat-label>
          <input matInput placeholder="Stock" required formControlName="stock">
        </mat-form-field>
      </div>
      <div fxFlex="25%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Precio Compra</mat-label>
          <input matInput type="number" placeholder="Precio Compra" required formControlName="precioCompra">
        </mat-form-field>
      </div>
      <div fxFlex="25%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>% de Utilidad</mat-label>
          <input matInput type="number" placeholder="% de Utilidad" formControlName="porcentajeUtelidad">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="25%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Precio Venta</mat-label>
          <input matInput type="number" placeholder="Precio Venta" required formControlName="precioVenta">
        </mat-form-field>
      </div>
      <div fxFlex="25%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Unidad Medida</mat-label>
            <mat-select placeholder="Unidad Medida" formControlName="unidadMedida" [compareWith]="compareUnidadMedida">
              <mat-option *ngFor="let Unidadmedida of lstunidadmedidas" [value]="Unidadmedida">
                {{Unidadmedida.descripcion}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="25%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Tipo Producto</mat-label>
          <mat-select placeholder="Tipo Producto" formControlName="tipoProducto" [compareWith]="compareTipoProducto">
            <div style="margin: 10px">
              <input matInput  placeholder="buscar" (keyup)="buscarTipoProducto($event)" />
            </div>
            <mat-option *ngFor="let Tipoproducto of lsttipoProductos" [value]="Tipoproducto">
              {{Tipoproducto.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="25%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Almacen de</mat-label>
          <mat-select placeholder="Almacen de" formControlName="sucursal" [compareWith]="compareOrganizacion">
            <mat-option *ngFor="let Organizacion of lstorganizacions" [value]="Organizacion">
              {{Organizacion.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- opcional comentar -->
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="25%;" fxFlex.xs="50%" fxLayout="row" style="position: relative;">

        <mat-form-field class="field-container" appearance="outline">
          <input placeholder="Dolencia y/o Propiedad del Producto" class="autocomplete-autor" aria-label="nombre" matInput [formControl]="myControlDolencia"
            required formControlName="dolenciaProducto" [matAutocomplete]="autoDolencia" #firstname2 >
          <mat-autocomplete #autoDolencia="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let listDolencia of filteredOptions | async" [value]="listDolencia" class="pintarselector">
              {{listDolencia.dolenciaPropiedad}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matSuffix>arrow_drop_down</mat-icon>
        </mat-form-field>

        <div fxLayoutAlign="center start" >
          <button mat-mini-fab style="margin-top: 10PX;" color="warn" type="button" (click)="openDialogDolencia()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div fxFlex="1%;" fxFlex.xs="50%"></div>
      
      <div fxFlex="34%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Presentacion</mat-label>
          <input matInput placeholder="Presentacion" required formControlName="presentacion">
        </mat-form-field>
      </div>
      
      <div fxFlex="15%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Numero de Lote</mat-label>
          <input matInput placeholder="Numero de Lote" required formControlName="numeroLote">
        </mat-form-field>
      </div>
      
      <div fxFlex="25%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Laboratorio</mat-label>
          <input matInput placeholder="Laboratorio" required formControlName="laboratorio">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="25%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Area</mat-label>
          <input matInput placeholder="Area" required formControlName="area">
        </mat-form-field>
      </div>
        <div fxFlex="25%;" fxFlex.xs="50%">
          <mat-form-field class="field-container" appearance="outline">
            <mat-label>Estado Producto</mat-label>
            <mat-select placeholder="Estado Producto" formControlName="estadoProducto">
              <mat-option *ngFor="let estadoprod of listestados" [value]="estadoprod">
                {{estadoprod}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="25%;" fxFlex.xs="50%">
          <mat-form-field class="field-container" appearance="outline">
            <mat-label>Tipo Afectacion del IGV</mat-label>
            <mat-select placeholder="Tipo Afectacion del IGV" formControlName="tipoAfectacionIgv" [compareWith]="compareTipoAfectacionIgv">
              <mat-option *ngFor="let TipoAfecto of lsttipoAfectacion" [value]="TipoAfecto">
                {{TipoAfecto.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>
    <!-- opcional -->
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="20%;" fxFlex.xs="50%" class="field-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">
          <mat-icon>done</mat-icon>
          <span>F2 Aceptar</span>
        </button>
      </div>
      <div fxFlex="1%;" fxFlex.xs="5%"></div>
      <div fxFlex="20%;" fxFlex.xs="50%" class="field-container">
        <button mat-raised-button color="accent" (click)="cancel()" type="button">
          <mat-icon>close</mat-icon>
          <span>F3 Cancelar</span>
        </button>
      </div>
    </div>
  </form>
</div>