<div class="page-layout blank p-24" fusePerfectScrollbar>
  <mat-toolbar>Ingrese los datos del Producto</mat-toolbar>
  
  <br />

  <form class="container" [formGroup]="form" (ngSubmit)="operar()" #f="ngForm">

    <mat-form-field>
      <input matInput placeholder="Cod Producto" required formControlName="codProducto">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nombre Producto" required formControlName="nombre">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Marca Producto" required formControlName="marcaProducto">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Stock" required formControlName="stock">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Precio Compra" required formControlName="precioCompra">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Precio Venta" required formControlName="precioVenta">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Unidad Medida" formControlName="unidadMedida" [compareWith]="compareUnidadMedida">
        <mat-option *ngFor="let Unidadmedida of lstunidadmedidas" [value]="Unidadmedida"  >
          {{Unidadmedida.descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>  

    <mat-form-field>
      <mat-select placeholder="Categoria" formControlName="categoria" [compareWith]="compareCategoria">
        <mat-option *ngFor="let Categoria of lstcategorias" [value]="Categoria"  >
          {{Categoria.descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Tipo Producto" formControlName="tipoProducto" [compareWith]="compareTipoProducto">
        <mat-option *ngFor="let Tipoproducto of lsttipoProductos" [value]="Tipoproducto"  >
          {{Tipoproducto.descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>    

    <mat-form-field>
      <mat-select placeholder="Organizacion" formControlName="organizacion" [compareWith]="compareOrganizacion">
        <mat-option *ngFor="let Organizacion of lstorganizacions" [value]="Organizacion"  >
          {{Organizacion.nombreComercial}}
        </mat-option>
      </mat-select>
    </mat-form-field>  

    <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
    </button>

    <button mat-raised-button color="accent" (click)="cancel()" type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
    </button>
  </form>

  <br />

</div>