<div id="login" fxLayout="column">
  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
      <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
          <div class="logo">
              <img src="assets/images/logos/fuse.svg">
          </div>
          <div class="title">INGRESE CON SU CUENTA</div>
          <form name="loginForm" [formGroup]="loginForm" novalidate (ngSubmit)="iniciarSesion()" #f="ngForm">
              <mat-form-field class="field-container" appearance="outline">
                  <mat-label>Usuario</mat-label>
                  <input matInput placeholder="usuario" formControlName="usuario">
                  <mat-icon matSuffix>person</mat-icon>
                  <mat-error *ngIf="loginForm.get('usuario').hasError('required')">
                    usuario es requerido
                  </mat-error>
                  <mat-error
                      *ngIf="!loginForm.get('usuario').hasError('required') &&
                              loginForm.get('usuario').hasError('usuario')">
                              Por favor ingrese un usuario válido
                  </mat-error>
              </mat-form-field>
              <mat-form-field class="field-container" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" placeholder="Clave" formControlName="clave">
                  <mat-icon matSuffix>vpn_key</mat-icon>
                  <mat-error>
                    clave es requerido
                  </mat-error>
              </mat-form-field>    
              <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN" [disabled]="f.invalid">
                <mat-icon>how_to_reg</mat-icon>
                <span>LOGIN</span>
              </button>             
          </form>    
      </div>
  </div>
</div>