<div class="page-layout blank p-24" megaPerfectScrollbar>
  <mat-toolbar>Ingrese los datos de Unidad Medida</mat-toolbar>
  
  <br />

  <form class="container" [formGroup]="form" (ngSubmit)="operar()" #f="ngForm">

    <mat-form-field>
      <input matInput placeholder="Cod Unidad Medida" required formControlName="codUnidadmedida">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Descripcion" required formControlName="descripcion">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
    </button>

    <button mat-raised-button color="accent" (click)="cancel()" type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
    </button>
  </form>

  <br />

</div>