<h3 mat-dialog-title>Lista De productos</h3>
<mat-dialog-content class="mat-typography">
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="60%;" fxFlex.xs="50%">
      <mat-form-field class="field-container" appearance="outline">
        <mat-label>Buscar Producto</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Producto">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="codProducto">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="13%" fxFlex.xs="100%"> CODIGO </mat-header-cell>
        <mat-cell fxFlex="13%" fxFlex.xs="100%" *matCellDef="let element"> {{element.codProducto}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="33%" fxFlex.xs="100%"> PRODUCTO </mat-header-cell>
        <mat-cell fxFlex="33%" fxFlex.xs="100%" *matCellDef="let element"> {{element.nombre}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="marcaProducto">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="13%" fxFlex.xs="100%"> MARCA </mat-header-cell>
        <mat-cell fxFlex="13%" fxFlex.xs="100%" *matCellDef="let element"> {{element.marcaProducto}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="stock">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%" fxFlex.xs="100%"> STOCK </mat-header-cell>
        <mat-cell fxFlex="10%" fxFlex.xs="100%" *matCellDef="let element"> {{element.stock}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="cantidad">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%" fxFlex.xs="100%">CANTIDAD</mat-header-cell>
        <mat-cell fxFlex="10%" fxFlex.xs="100%" *matCellDef="let element; let i = index">
            <mat-form-field class="field-container">
              <input matInput name="cantidad" [(ngModel)]="element.cantidad">
            </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="precioVenta">
        <mat-header-cell *matHeaderCellDef fxFlex="13%" fxFlex.xs="100%"> PREC. VENTA </mat-header-cell>
        <mat-cell fxFlex="13%" fxFlex.xs="100%" *matCellDef="let element; let i = index">
            <mat-form-field class="field-container">
              <input [disabled]="is_edit=='false' ? true : null" matInput name="precioVenta" [(ngModel)]="element.precioVenta">
              <!-- <span *ngIf="userName">{{userName | uppercase }}</span>
              <span *ngIf="!userName">Anonimo</span> -->
            </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef fxFlex="8%" fxFlex.xs="100%">ACCION</mat-header-cell>
        <mat-cell fxFlex="8%" fxFlex.xs="100%" *matCellDef="let row">
          <button mat-icon-button matTooltip="Agregar" color="warn" (click)="agregar(row)">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  <br>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</mat-dialog-actions>