<div class="page-layout blank p-24" megaPerfectScrollbar>
  <mat-toolbar>Registrar Venta</mat-toolbar>
  <br />
  <form class="container" [formGroup]="form" (ngSubmit)="save()" #f="ngForm">
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="35%;" fxFlex.xs="50%">
        <mat-form-field class="field-container">
          <input type="text" placeholder="Cliente- Venta" aria-label="nombre" matInput [formControl]="myControlCliente"
            required formControlName="cliente" [matAutocomplete]="autoCliente">
          <mat-autocomplete #autoCliente="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let cli of filteredOptions | async" [value]="cli">
              {{cli.persona.nombre}} {{cli.persona.numeroDocumento}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matSuffix>perm_identityt</mat-icon>
        </mat-form-field>
      </div>
      <div fxFlex="10%;" fxFlex.xs="50%">
        <button mat-mini-fab color="accent" type="button" (click)="openDialog(cli)">
          <mat-icon>person_add</mat-icon>
        </button>
      </div>

      <div fxFlex="15%;" fxFlex.xs="50%">
        <mat-form-field class="field-container">
          <input matInput formControlName="fecha" [matDatepicker]="picker" [max]="maxDate" placeholder="Fecha Venta"
            required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxFlex="20%;" fxFlex.xs="50%">
        <mat-form-field class="field-container">
          <mat-select placeholder="Tipo comprobante " required formControlName="tipocomprobante">
            <mat-option *ngFor="let TipoCom of tipocomprobantes" [value]="TipoCom">
              {{TipoCom.descripcion}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>arrow_downward</mat-icon>
        </mat-form-field>
      </div>
      <div fxFlex="20%;" fxFlex.xs="50%">
        <mat-form-field class="field-container">
          <mat-select placeholder="Tipo pago " required formControlName="tipopago">
            <mat-option *ngFor="let TipoP of tipopagos" [value]="TipoP">
              {{TipoP.nombre}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>arrow_downward</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <br>
    <mat-card>
      <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="50%;" fxFlex.xs="50%">
          <mat-form-field>
            <input formControlName="search" type="text" matInput (keyup)="buscarProducto($event)" placeholder="Buscar Producto por Codigo">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.xs="grow" fxLayoutAlign="end">
          <mat-card-actions>
            <button matPrefix mat-raised-button color="warn" type="button" (click)="AgregarProducto()">
              <mat-icon>add</mat-icon>
              Agregar Producto
            </button>
          </mat-card-actions>
        </div>
      </div>
      <mat-table>
        <ng-container matColumnDef="codProducto">
          <mat-header-cell *matHeaderCellDef fxFlex="10%"> CODIGO </mat-header-cell>
        </ng-container>       
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef fxFlex="38%"> PRODUCTO / SERVICIO </mat-header-cell>
        </ng-container>
         <ng-container matColumnDef="unidadMedida">
          <mat-header-cell *matHeaderCellDef fxFlex="14%"> UNIDAD MEDIDA </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="cantidad">
          <mat-header-cell *matHeaderCellDef fxFlex="10%">CANTIDAD</mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="precio">
          <mat-header-cell *matHeaderCellDef fxFlex="13%">PRECIO DE COMPRA </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="importeTotalItem">
          <mat-header-cell *matHeaderCellDef fxFlex="9%"> SUB TOTAL </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef fxFlex="6%">ACCION</mat-header-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-divider></mat-divider>
      <div formArrayName="detalleVenta">
        <div *ngFor="let unit of detalleVenta.controls; let i=index">
          <div [formGroupName]="i">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="start stretch">
              <div formGroupName="productoT" fxFlex="60%">
                <mat-form-field fxFlex="30%">
                  <input matInput formControlName="codProducto">
                </mat-form-field>
                <mat-form-field fxFlex="70%">
                  <input matInput formControlName="nombre">
                </mat-form-field>
              </div>
              <mat-form-field fxFlex="10%">
                <input matInput formControlName="unidadMedida">
              </mat-form-field>
              <mat-form-field fxFlex="10%" fxFlex.xs="grow">
                <input matInput type="number" formControlName="cantidad" required>
              </mat-form-field>
              <mat-form-field fxFlex="10%" fxFlex.xs="grow">
                <input matInput class="right" type="number" formControlName="precio" required>
              </mat-form-field>
              <mat-form-field fxFlex="10%" fxFlex.xs="grow">
                <input matInput class="right" formControlName="importeTotal">
                <span matPrefix>s/.&nbsp;</span>
              </mat-form-field>
              <button type="button" mat-mini-fab color="warn" (click)="eliminar(i)">
                <mat-icon>delete_sweep</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="end">
        <div fxFlex="0.5%" fxFlex.xs="grow" fxLayoutAlign="end">NETO:</div>
        <div fxFlex="5%" fxFlex.xs="grow" fxLayoutAlign="end">{{form.get('subTotal').value | number : '1.2-2'}}</div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="end">
        <div fxFlex="0.5%" fxFlex.xs="grow" fxLayoutAlign="end">IGV:</div>
        <div fxFlex="5%" fxFlex.xs="grow" fxLayoutAlign="end">{{form.get('igv').value | number : '1.2-2'}}</div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="end">
        <div fxFlex="0.5%" fxFlex.xs="grow" fxLayoutAlign="end">TOTAL:</div>
        <div fxFlex="5%" fxFlex.xs="grow" fxLayoutAlign="end">{{form.get('montoTotal').value | number : '1.2-2'}}</div>
      </div>
      <mat-divider></mat-divider>
      <!-- <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="end"> -->
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
          <mat-icon>done</mat-icon>
          <span>Aceptar</span>
        </button>
        <button mat-raised-button color="accent" (click)="cancel()" type="button">
          <mat-icon>close</mat-icon>
          <span>Cancelar</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  <br />
</div>