<div class="page-layout blank p-24" megaPerfectScrollbar>
  <mat-toolbar>Cierre de Caja</mat-toolbar>
  <form [formGroup]="form" #f="ngForm" (ngSubmit)="buscar()">
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="15%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Buscar</mat-label>
          <input matInput [matDatepicker]="picker" [max]="maxFecha" placeholder="Escoge una fecha" formControlName="fechaConsulta">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="1%;" fxFlex.xs="50%"></div>
      <div fxFlex="15%;" fxFlex.xs="50%">
        <button mat-fab color="accent" type="submit">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </form>
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="100%;" fxFlex.xs="50%">
      <mat-label>Lista Ventas</mat-label>
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="17%" fxFlex.xs="100%"> FECHA </mat-header-cell>
            <mat-cell fxFlex="17%" fxFlex.xs="100%" *matCellDef="let element"> {{element.fecha | date:'dd/MM/yyyy h:mma'}} </mat-cell>
            <mat-footer-cell *matFooterCellDef fxFlex="17%" fxFlex.xs="100%"></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="numeroComprobante">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="13%" fxFlex.xs="100%"> N° COMPROBANTE </mat-header-cell>
            <mat-cell fxFlex="13%" fxFlex.xs="100%" *matCellDef="let element"> {{element.numeroComprobante}} </mat-cell>
            <mat-footer-cell *matFooterCellDef fxFlex="16%" fxFlex.xs="100%"></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="tipocomprobante.descripcion">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="16%" fxFlex.xs="100%"> CONCEPTO </mat-header-cell>
          <mat-cell fxFlex="16%" fxFlex.xs="100%" *matCellDef="let element"> {{element.tipocomprobante.descripcion}} </mat-cell>
          <mat-footer-cell *matFooterCellDef fxFlex="16%" fxFlex.xs="100%"></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="estadoComprobante">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="9%" fxFlex.xs="100%"> ESTADO </mat-header-cell>
          <mat-cell fxFlex="9%" fxFlex.xs="100%" *matCellDef="let element"> {{element.estadoComprobante}} </mat-cell>
          <mat-footer-cell *matFooterCellDef fxFlex="9%" fxFlex.xs="100%"></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="tipopago.nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%" fxFlex.xs="100%"> FORMA PAGO </mat-header-cell>
          <mat-cell fxFlex="10%" fxFlex.xs="100%" *matCellDef="let element"> {{element.tipopago.nombre}} </mat-cell>
          <mat-footer-cell *matFooterCellDef fxFlex="10%" fxFlex.xs="100%"></mat-footer-cell>
        </ng-container>

      <ng-container matColumnDef="cliente.persona.nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="23%" fxFlex.xs="100%"> CLIENTE </mat-header-cell>
        <mat-cell fxFlex="23%" fxFlex.xs="100%" *matCellDef="let element"> {{element.cliente.persona.nombre}} </mat-cell>
        <mat-footer-cell *matFooterCellDef fxFlex="23%" fxFlex.xs="100%">TOTAL</mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="montoTotal">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="12%" fxFlex.xs="100%"> IMPORTE </mat-header-cell>
        <mat-cell fxFlex="12%" fxFlex.xs="100%" *matCellDef="let element"> {{element.montoTotal | number : '1.2-2'}} </mat-cell>
        <mat-footer-cell *matFooterCellDef fxFlex="12%" fxFlex.xs="100%">{{total | number : '1.2-2'}}</mat-footer-cell>
      </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>
    </div>
  </div>
  <br>
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="100%;" fxFlex.xs="50%">
      <label>Lista Egresos</label>
      <mat-table [dataSource]="dataSourceEgreso" matSort>
        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20%" fxFlex.xs="100%"> FECHA </mat-header-cell>
            <mat-cell fxFlex="20%" fxFlex.xs="100%" *matCellDef="let element"> {{element.fecha | date:'dd/MM/yyyy h:mma'}} </mat-cell>
            <mat-footer-cell *matFooterCellDef fxFlex="20%" fxFlex.xs="100%"></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="tipoPago">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%" fxFlex.xs="100%"> TIPO PAGO </mat-header-cell>
            <mat-cell fxFlex="10%" fxFlex.xs="100%" *matCellDef="let element"> {{element.tipoPago}} </mat-cell>
            <mat-footer-cell *matFooterCellDef fxFlex="10%" fxFlex.xs="100%"></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="36%" fxFlex.xs="100%"> DESCRIPCION </mat-header-cell>
          <mat-cell fxFlex="36%" fxFlex.xs="100%" *matCellDef="let element"> {{element.descripcion}} </mat-cell>
          <mat-footer-cell *matFooterCellDef fxFlex="36%" fxFlex.xs="100%"></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="benificiario">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="22%" fxFlex.xs="100%"> BENIFICIARIO </mat-header-cell>
          <mat-cell fxFlex="22%" fxFlex.xs="100%" *matCellDef="let element"> {{element.benificiario}} </mat-cell>
          <mat-footer-cell *matFooterCellDef fxFlex="22%" fxFlex.xs="100%">TOTAL</mat-footer-cell>
        </ng-container>

      <ng-container matColumnDef="monto">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="12%" fxFlex.xs="100%"> MONTO </mat-header-cell>
        <mat-cell fxFlex="12%" fxFlex.xs="100%" *matCellDef="let element"> {{element.monto | number : '1.2-2'}} </mat-cell>
        <mat-footer-cell *matFooterCellDef fxFlex="12%" fxFlex.xs="100%">{{totalEgreso | number : '1.2-2'}}</mat-footer-cell>
      </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsegreso"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsegreso;"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumnsegreso"></mat-footer-row>
    </mat-table>
    </div>
  </div>
  <br>
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="100%;" fxFlex.xs="50%">
      <label>DATOS DEL RESUMEN</label>
      <mat-card>
        <div fxFlex="20%;" fxFlex.xs="50%">
          <mat-label>MONTO TOTAL REGISTRADO </mat-label>
          {{total-totalEgreso | number : '1.2-2'}}
        </div>
        <div fxFlex="20%;" fxFlex.xs="50%">
          <mat-label>MONTO DE INICIO DE TURNO </mat-label>
          {{montoInicioTurno | number : '1.2-2'}}
        </div>
        <div fxFlex="18%;" fxFlex.xs="50%">
          <mat-label>MONTO TOTAL DEL DIA </mat-label>
          {{(total-totalEgreso + montoInicioTurno) | number : '1.2-2'}}
        </div>
        <div fxFlex="22%;" fxFlex.xs="50%">
          <mat-form-field>
            <input matInput placeholder="CONTEO FIN DE TURNO" [(ngModel)]="montoTotalDia" required>
          </mat-form-field>
        </div>
        <div fxFlex="20%;" fxFlex.xs="50%">
          <button mat-raised-button color="primary" type="button" (click)="saveCaja()">
            <mat-icon>vpn_key</mat-icon>
            <span> Aceptar</span>
          </button>
        </div>
      </mat-card>
    </div>
  </div>