/* You can add global styles to this file, and also import other style files */
// Import Mega main library
@import "app/shared/scss/core";
@import '~material-design-icons/iconfont/material-icons.css';

.container {
    display: flex;
    flex-direction: column;
  }
  
  .container > * {
    width: 100%;
  }

  .field-container {
    display: flex;
    flex-direction: column;
    width: 95%;
  }

  .mat-table-toolbar{
    height: 40px !important;
  }
  
.right {
  text-align: right !important;
}

input.right::-webkit-outer-spin-button,
input.right::-webkit-inner-spin-button {
  display: none;
}

input.right {
  -moz-appearance: textfield;
}

:root {
  --ColorFocus: #fbec88 ;
  --ColorHover: #f5f5f5 ;
}

.tabla{
  overflow-x: scroll;
  
}

.fondo-tabla {
  min-width: 800px;

}