<div class="page-layout blank p-24" megaPerfectScrollbar>
  <mat-toolbar>Generar Proforma</mat-toolbar>
  <br />
  <form class="example-form" [formGroup]="form" #f="ngForm">
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="30%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Nombre Cliente</mat-label>
          <input type="text" placeholder="Nombre Cliente" required aria-label="persona.nombre" matInput [formControl]="myControlCliente"
            formControlName="cliente" [matAutocomplete]="autoCliente">
          <mat-icon matSuffix>search</mat-icon>
          <mat-autocomplete #autoCliente="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let pro of filteredOptions | async" [value]="pro">
              {{pro.persona.nombre}} {{pro.persona.numeroDocumento}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxFlex="10%;" fxFlex.xs="50%">
        <button mat-mini-fab color="accent" type="button" (click)="openDialog(cli)">
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
      <div fxFlex="21%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Fecha Proforma</mat-label>
          <input matInput formControlName="fechaProforma" [matDatepicker]="picker" [max]="maxDate" placeholder="Fecha Proforma"
            required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="21%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Numero Proforma</mat-label>
          <input matInput maxlength="13" placeholder="Numero Proforma" formControlName="numero">
        </mat-form-field>
      </div>
      <!--button de mostrar lista de productos-->
      <div fxFlex="18%;" fxFlex.xs="50%">
        <div class="field-container">
          <mat-label>Agregar Productos</mat-label>
          <button matSuffix mat-raised-button color="accent" type="button" (click)="AgregarProducto()">
            <mat-icon>search</mat-icon> Buscar Producto
          </button>
        </div>
      </div>
    </div>

    <mat-card formArrayName="detalleProforma">
      <!--buscar producto-->
      <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30%;" fxFlex.xs="50%">
          <mat-form-field class="field-container" appearance="outline">
            <mat-label>Buscar Producto</mat-label>
            <input type="text" matInput (keyup)="buscarProducto($event)" placeholder="Cod Producto" #firstname>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <!--Detalle de Proforma-->
      <mat-table>
        <ng-container matColumnDef="codProducto">
          <mat-header-cell *matHeaderCellDef fxFlex="12%"> CODIGO </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef fxFlex="30%"> PRODUCTO / SERVICIO </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="marcaProducto">
          <mat-header-cell *matHeaderCellDef fxFlex="20%"> MARCA </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="cantidaditem">
          <mat-header-cell *matHeaderCellDef fxFlex="10%">CANTIDAD</mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="precioitem">
          <mat-header-cell *matHeaderCellDef fxFlex="13%">PRECIO UNIT. </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="importetotalitem">
          <mat-header-cell *matHeaderCellDef fxFlex="9%"> IMPORTE </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef fxFlex="6%">ACCION</mat-header-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-divider></mat-divider>
      <div *ngFor="let unit of detalleProforma.controls; let i=index">
        <div [formGroupName]="i">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="start stretch">
            <div formGroupName="productoT" fxFlex="70%">
              <mat-form-field fxFlex="20%">
                <input matInput formControlName="codProducto">
              </mat-form-field>
              <mat-form-field fxFlex="50%">
                <input matInput formControlName="nombre">
              </mat-form-field>
              <mat-form-field fxFlex="30%">
                <input matInput formControlName="marcaProducto">
              </mat-form-field>
            </div>
            <mat-form-field fxFlex="10%" fxFlex.xs="grow">
              <input matInput type="number" formControlName="cantidaditem" required>
            </mat-form-field>
            <mat-form-field fxFlex="10%" fxFlex.xs="grow">
              <input matInput class="right" type="number" formControlName="precioitem" required>
            </mat-form-field>
            <mat-form-field fxFlex="10%" fxFlex.xs="grow">
              <input matInput class="right" formControlName="importeTotal">
              <span matPrefix>s/.&nbsp;</span>
            </mat-form-field>
            <button type="button" mat-mini-fab color="warn" (click)="eliminar(i)">
              <mat-icon>delete_sweep</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <form [formGroup]="form" #f="ngForm">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="end">
          <div fxFlex="0.5%" fxFlex.xs="grow" fxLayoutAlign="end">A CUENTA:</div>
          <mat-form-field fxFlex="8%" fxFlex.xs="grow">
            <input matInput type="number" formControlName="acuenta" required fxLayoutAlign="end">
          </mat-form-field>
          <div fxFlex="10%;" fxFlex.xs="50%"></div>

          <div fxFlex="0.5%" fxFlex.xs="grow" fxLayoutAlign="end">SALDO S/:</div>
          <mat-form-field fxFlex="8%" fxFlex.xs="grow">
            <input matInput type="number" formControlName="saldoProforma" required fxLayoutAlign="end">
          </mat-form-field>
          <div fxFlex="10%;" fxFlex.xs="50%"></div>

          <div fxFlex="0.5%" fxFlex.xs="grow" fxLayoutAlign="end">TOTAL</div>
          <div fxFlex="6%" fxFlex.xs="grow" fxLayoutAlign="end">{{form.get('total').value | number : '1.2-2'}}</div>
          <div fxFlex="5%;" fxFlex.xs="50%"></div>
        </div>
      </form>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="button" (click)="save()" [disabled]="f.invalid">
          <mat-icon>done</mat-icon>
          <span>Aceptar</span>
        </button>
        <button mat-raised-button color="warn" (click)="cancel()" type="button">
          <mat-icon>close</mat-icon>
          <span>Cancelar</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>